<div class="site-container" style="margin:20px auto; max-width:800px;"></div><div class="header"><h1 style="align:center;">Welcome To My Page</h1></div>

<%= link_to 'Articles', articles_path %>  |  <%= link_to 'About', about_path %>


<img src="http://www.trippcreative.com/wp-content/uploads/2018/02/freelance-web-designer.jpg" style="max-width:100%; height:auto;">
<h2>Sample Heading</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et elit justo. Morbi dictum metus in ornare laoreet. Vestibulum vel imperdiet orci, id feugiat enim. Vivamus a mollis enim. Donec eget laoreet est, sed imperdiet nunc. Vestibulum tristique molestie elit, quis condimentum orci fermentum sit amet. Sed eu efficitur ipsum. Nunc tristique aliquet hendrerit. Integer vel volutpat eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia ac nulla at faucibus. Curabitur lorem ligula, hendrerit id felis ac, varius auctor lacus. Vestibulum consequat ultricies tellus, non mattis ex tempus id.</p>
<div class="footer"></div>
</div>
